* {
  margin: 0;
  padding: 0;
  font-family: 'Arvo';
}

body {
  background-image: url('onam-festival-symbol-painti.jpg');
  background-size: cover;
  backdrop-filter: blur(10px);
  overflow: hidden;
}


.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ffbb00;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #1D3557;
}


#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #0f0049;

}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffbb00;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }

    25% {
      top: -2.125rem;
    }

    50% {
      top: -4.25rem;
    }

    72.5% {
      top: -6.375rem;
    }
  }
}

.mavali {
  position: fixed;
  bottom: 0;
  left: 0;
}

.mavali img {
  width: 200px;
  /* Adjust the image width as needed */
  display: block;
}

#animatedImage {
  animation: fadeInOut 4s ease infinite;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.5;
    /* Change the opacity as needed */
  }

  100% {
    opacity: 1;
  }
}

.name {
  background: linear-gradient(45deg, #ff9900, #fff200);
  /* Adjust colors and direction as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding: 10px;
}
